    title{
        color: red;
    }
    head{
        font-family: 'Poppins', sans-serif;
    }
    h1{
        font size:5px;
    }

    .one{
        color:orange;
    }
         
    .section{
        display: flex;
        padding: right 50%; 
    }
    .upper{
        max-width: 50%;
        text-align: bottom;
        padding-left: 10%; 
        float:left;
    }
    .sexy_girl{
        max-width:50%;
        float: right;
    }

    .button{
        text-decoration: none;
        background-image:linear-gradient(rgb(42, 153, 42),green);
        color: orange;
        padding:10px 30px;
        border-radius: 50px;
    }
   .top-banner{
       background-image: url(images/);
   }
 
  
  
  
 