    title{
        color: red;
    }
    head{
        font-family: 'Poppins', sans-serif;
    }
    h1{
        font size:5px;
    }

    .one{
        color:orange;
    }
         
    .section{
        display: flex;
        padding: right 50%; 
    }
    #top{
        padding-top:50px;
		padding-bottom:50px;
    }
    .upper{
        max-width: 50%;
        float:left;
		padding-left:100px;
		padding-top:100px;
		
    }
    .sexy_girl{
        max-width:50%;
        float: right;
    }
	.sexy_girl>img{
		width: 65%;
		text-align:center;
	}

    .button{
        text-decoration: none;
        background-image:linear-gradient(rgb(42, 153, 42),green);
        color: orange;
        padding:10px 30px;
        border-radius: 50px;
    }
   .top-banner{
       background-image: url(images/);
   }
 
  
  
  
 