    title{
        color: red;
    }
    head{
        font-family: 'Poppins', sans-serif;
    
    }
    .body{
        font-family: 'Bona Nova', serif;
        text-align: justify;
    }
    h1{
        font size:5px;
    }

    .one{
        color:orange;
    }
         
    .section{
        display: flex;
        padding: right 50%; 
    }
    #top{
        padding-top:50px;
		padding-bottom:50px;
    }
    .upper{
        max-width: 50%;
        float:left;
		padding-left:100px;
		padding-top:100px;
		
    }
    .sexy_girl{
        max-width:50%;
        float: right;
    }
	.sexy_girl>img{
		width: 65%;
		text-align:center;
	}

    .button{
        text-decoration: none;
        background-image:linear-gradient(rgb(42, 153, 42),green);
        color: orange;
        padding:10px 30px;
        border-radius: 50px;
    }
    .mid{
        max-width:100%;
        float:bottom;

		padding-bottom:50px;
		
    }
    /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color:royalblue;
   padding-bottom:20px 50px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    float:right;
    padding-right: 50px 20px;

  }